@model List<UserProductValueDetailsViewModel>
@{
    var headerMetadata = Model.FirstOrDefault();
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                序号
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.StaffNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.ContractNo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => headerMetadata.ContractName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => headerMetadata.Labor)
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.Ratio)
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.Amount)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @(i + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].StaffNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Model[i].ContractNo)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => Model[i].ContractName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Labor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Ratio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Amount)
                </td>
            </tr>
        }
    </tbody>
</table>