@model DeleteContractViewModel

<h2>@ViewData["Title"]</h2>


<h3>
    <div class="alert alert-danger">
        警告：若删除该合同，
        该合同下所有产值分配信息都会被删除！
    </div>
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">返回首页</a>
    </form>
</div>


