@model DetailsContractViewModel
@{
    ViewData["Title"] = "详细";

    int i = 1;
    var headerMetadata = Model.UserProductValueViewModels.FirstOrDefault();

    string editStatus = string.Empty;
    if (Model.ContractViewModel.SubmitStatus == SubmitStatus.Submitted)
    {

        editStatus = "disabled";

    }
}

<div>
    <partial name="StatusMessagePartial" model='Model.StatusMessage'>
</div>
@* 不考虑平板Pad的适配 *@
<div>
    <div class="row">
        <label asp-for="ContractViewModel.No" class="col-4 col-sm-2 col-lg-1 font-weight-bold"> </label>
        <div class="col-7 col-sm-10 col-lg-2">
            @Html.DisplayFor(x => x.ContractViewModel.No)
        </div>
    </div>
    <div class="row">
        <label asp-for="ContractViewModel.Name" class="col-md-2 col-lg-1 font-weight-bold"> </label>
        <div class="col-md-10 col-lg-11">
            @Html.DisplayFor(x => x.ContractViewModel.Name)
        </div>
    </div>
    <div class="row">
        <label asp-for="ContractViewModel.SignedDate" class="col-3 col-sm-2 col-lg-1 font-weight-bold"> </label>
        <div class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayFor(x => x.ContractViewModel.SignedDate)
        </div>
        <label asp-for="ContractViewModel.Deadline" class="col-3 col-sm-2 col-lg-1 font-weight-bold"> </label>
        <div class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayFor(x => x.ContractViewModel.Deadline)
        </div>
    </div>
    <div class="row">
        <label asp-for="ContractViewModel.Amount" class="col-3 col-sm-2 col-lg-1 font-weight-bold"> </label>
        <div class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayFor(x => x.ContractViewModel.Amount)
        </div>
        <label asp-for="ContractViewModel.UserName" class="col-3 col-sm-2 col-lg-1 font-weight-bold"> </label>
        <div class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayFor(x => x.ContractViewModel.UserName)
        </div>
    </div>
    <div class="row">
        <label asp-for="ContractViewModel.JobContent" class="col-md-2 font-weight-bold"> </label>
        <div class="col-md-4">
            @Html.DisplayFor(x => x.ContractViewModel.JobContent)
        </div>
    </div>

    @* 合同已提交，但是未确认，则显示进度 *@
    @if (Model.ContractViewModel.SubmitStatus == SubmitStatus.Submitted
       && Model.ContractViewModel.FinishStatus != FinishStatus.Finished)
    {
        <div class="row">
            <div class="col-md-4">
                产值分配结果已提交，正在校核或审核
            </div>
        </div>
    }

    @* 合同已完成，则显示完成日期 *@
    @if (Model.ContractViewModel.SubmitStatus == SubmitStatus.Submitted
       && Model.ContractViewModel.FinishStatus == FinishStatus.Finished)
    {
        <div class="row">
            <label asp-for="ContractViewModel.FinishDateTime" class="col-md-2 font-weight-bold"> </label>
            <div class="col-md-3">
                @Html.DisplayFor(x => x.ContractViewModel.FinishDateTime)
            </div>
        </div>
    }
</div>

@* 合同未提交，则显示提交页面 *@
@if (Model.ContractViewModel.SubmitStatus == SubmitStatus.NotSubmitted)
{
    <div>
        <partial name="_SubmitProductValuePartial"
                 model='new SubmitProductValueViewModel {
    ContractId=Model.ContractViewModel.Id
    }'>
    </div>
}


<hr />

@if (Model.UserProductValueViewModels.Count() != 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    序号
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.StaffName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.Labor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.Ratio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.Amount)
                </th>

                <th>操作</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.UserProductValueViewModels)
            {
                <tr>
                    <td>
                        @i
                        @{
                            i++;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Labor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ratio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a asp-controller="UserContract" asp-action="Edit" asp-route-Id="@item.Id"
                           data-ajax="true"
                           data-ajax-mode="replace"
                           data-ajax-loading-duration=1000
                           data-ajax-update="#CreateOrEditUserContract"
                           method="get"
                           class="btn btn-secondary @editStatus">编辑</a>
                        | <a asp-controller="UserContract" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger @editStatus">删除</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}



<a asp-controller="UserContract" asp-action="Create" asp-route-ContractId="@Model.ContractViewModel.Id"
   data-ajax="true"
   data-ajax-mode="replace"
   data-ajax-loading-duration=1000
   data-ajax-update="#CreateOrEditUserContract"
   method="get"
   class="btn btn-primary @editStatus">
    添加产值分配人员
</a>
<p></p>
<div id="CreateOrEditUserContract">

</div>

<a asp-controller="Contract" asp-action="Restore" asp-route-Id="@Model.ContractViewModel.Id" class="btn btn-danger">重置提交状态</a>
@*<div>
        <partial name="../UserContract/Create" model="new CreateUserContractViewModel { ContractId=Model.UserProductValueViewModels.FirstOrDefault().ContractId }">
    </div>*@
