@model DetailsContractViewModel
@{
    ViewData["Title"] = "详细";

    int i = 1;
    var headerMetadata = Model.UserProductValueViewModels.FirstOrDefault();
}

<div>
    <partial name="StatusMessagePartial" model='Model.StatusMessage'>
</div>

<div>
    <div class="row">
        <label asp-for="ContractViewModel.No" class="col-4 col-md-1"> </label>
        <div class="col-4 col-md-3">
            @Html.DisplayFor(x => x.ContractViewModel.No)
        </div>
    </div>
    <div class="row">
        <label asp-for="ContractViewModel.Name" class="col-4 col-md-1"> </label>
        <div class="col-4 col-md-3">
            @Html.DisplayFor(x => x.ContractViewModel.Name)
        </div>
    </div>
    <div class="row">
        <label asp-for="ContractViewModel.SignedDate" class="col-4 col-md-1"> </label>
        <div class="col-4 col-md-3">
            @Html.DisplayFor(x => x.ContractViewModel.SignedDate)
        </div>
        <label asp-for="ContractViewModel.Deadline" class="col-4 col-md-1"> </label>
        <div class="col-4 col-md-3">
            @Html.DisplayFor(x => x.ContractViewModel.Deadline)
        </div>
    </div>
    <div class="row">
        <label asp-for="ContractViewModel.Amount" class="col-4 col-md-1"> </label>
        <div class="col-4 col-md-3">
            @Html.DisplayFor(x => x.ContractViewModel.Amount)
        </div>
        <label asp-for="ContractViewModel.UserName" class="col-4 col-md-1"> </label>
        <div class="col-4 col-md-3">
            @Html.DisplayFor(x => x.ContractViewModel.UserName)
        </div>
    </div>
    <div class="row">
        <label asp-for="ContractViewModel.JobContent" class="col-4 col-md-1"> </label>
        <div class="col-4 col-md-3">
            @Html.DisplayFor(x => x.ContractViewModel.JobContent)
        </div>
    </div>
</div>

@if (Model.UserProductValueViewModels.Count() != 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    序号
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.StaffName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.Labor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.Ratio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.Amount)
                </th>

                <th>操作</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.UserProductValueViewModels)
            {
                <tr>
                    <td>
                        @i
                        @{
                            i++;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Labor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ratio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a asp-controller="UserContract" asp-action="Edit" asp-route-id="@item.Id"
                           data-ajax="true"
                           data-ajax-mode="replace"
                           data-ajax-loading-duration=1000
                           data-ajax-update="#CreateOrEditUserContract"
                           method="get"
                           class="btn btn-secondary">编辑</a>
                        | <a asp-controller="UserContract" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">删除</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}

<a asp-controller="UserContract" asp-action="Create" asp-route-ContractId="@Model.UserProductValueViewModels.FirstOrDefault().ContractId"
   data-ajax="true"
   data-ajax-mode="replace"
   data-ajax-loading-duration=1000
   data-ajax-update="#CreateOrEditUserContract"
   method="get"
   class="btn btn-primary">
    添加产值分配人员
</a>

<div id="CreateOrEditUserContract">

</div>
@*<div>
        <partial name="../UserContract/Create" model="new CreateUserContractViewModel { ContractId=Model.UserProductValueViewModels.FirstOrDefault().ContractId }">
    </div>*@