@model CreateUserRoleViewModel
@{
    ViewData["Title"] = "加入组";
    var headerMetadata = Model.RoleSelectViewModels.FirstOrDefault();
}

<h3>@ViewData["Title"]</h3>
<div>
    <partial name="StatusMessagePartial" model='Model.StatusMessage'>
</div>
<form asp-action="Create" method="post">
    <input asp-for="@Model.UserId"/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    序号
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => headerMetadata.Description)
                </th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.RoleSelectViewModels.Count; i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model.RoleSelect" type="radio" value="@Model.RoleSelectViewModels[i].Id" />
                    </td>
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.RoleSelectViewModels[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.RoleSelectViewModels[i].Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <button class="btn btn-primary">提交</button>
    </p>
</form>

<div>
    <p>
        <a asp-controller="User" asp-action="Index" class="btn btn-secondary">返回</a>
    </p>
</div>